name: "mkdocs"
on:
  push:
    branches:
      - latest-release
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
        working-directory: ./mkdocs
      - run: mkdocs gh-deploy --force
        working-directory: ./mkdocs
